.bgcg
{
	background-color: #303030;
}

.bgcdg
{
	background-color: #212121;
}

.bgclg
{
	background-color: #424242;
}

.search
{
	background-color: #424242;
	border-color: #fb8c00;
	color: rgb(226, 226, 226);
}

.search:focus
{
	background-color: #424242;
	color: white;
	box-shadow: none;
	outline: none;
	border-color: #fb8c00;
}

.search::placeholder
{
	color: #949494;
}

.co
{
	color: #fb8c00;
}

.co-h:hover
{
	color: #fb8c00;
}

.bco
{
	border-color: #fb8c00;
}

.bco-h:hover
{
	border-color: #fb8c00;
}


.chat-container
{
	height: 100%;
	min-height: 300px;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
}

.chat-sub-container
{
	display: flex;
	flex-direction: column;
}

.message-container
{
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 5px;
}

.message-container:hover .btn-hover
{
	display: block;
}

.btn-hover
{
	display: none;
	position: absolute;
	top: -1.3rem;
	right: 2px;
}

.user-msg-container
{
	align-self: flex-end;
	padding-left: 2rem;
}

.t-end
{
	
	text-align: end;
}

.other-msg-container
{
	align-self: flex-start;
	padding-right: 2rem;
}

.t-start
{
	
	text-align: start;
}

.bgc-user
{
	background-color: rgb(0, 32, 139);
}

.bgc-other
{
	background-color: #008d3b;
}

.ctext
{
	word-wrap: break-word;
	text-wrap: wrap;
	overflow-wrap: normal;
	word-break: break-word;
	padding-bottom: 0.45em;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#fb8c00;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.2);
}