{% extends "base.html" %}
{% block content %}

<!-- <div class="container-sm bgclg" style="margin-top: 1rem; padding-top: 0.5rem; padding-bottom: 0.2rem;"> -->
	{% if errmsg %}
		<p style="color: red;">{{ errmsg }}</p>
	{% endif %}

	{% if user_id %}
	<div class="container mt-3">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card bco" style="max-height: 85vh;">

					<div class="card-header bgcdg">
						<div class="co">Chat with {{ target_username }}</div>
						
					</div>
		
					<div class="card-body chat-container bgcg">
						<!-- messages -->
						<div class="chat-sub-container">
							{% if messages %}
							{% for msg in messages %}
							{% if user_id == msg.sender_id %}
							<!-- messages by current user -->
							<div class="message-container user-msg-container">

								{% if session.user.id == user_id %}
								<!-- hover action buttons -->
								<div class="btn-hover" id="editbtn{{ msg.id }}">
									<button type="button" class="btn btn-secondary btn-sm"
									style="font-size: 0.6em; padding: 1px 3px;" onclick="editButtonClick('{{msg.id}}', '{{msg.content}}')">
										Edit
									</button>
									<button type="button" class="btn btn-danger btn-sm"
									style="font-size: 0.6em; padding: 1px 3px;">
										Delete
									</button>
								</div>

								<!-- edit box for message -->
								<form id="editform{{ msg.id }}" style="display: none;" action="/register" method="POST">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
									<input type="hidden" name="original" value="{{ msg }}"/>
		
									<div style="display: flex; justify-content: flex-end; padding-bottom: 2px; padding-right: 2px; column-gap: 5px;">
										<div class="badge co" style="font-size: 0.65em; padding-right: 0;"></div>
										<button type="button" class="btn btn-secondary btn-sm"
											style="font-size: 0.6em; padding: 1px 3px;" onclick="editButtonClick('{{msg.id}}', '')">
											Cancel
										</button>
											<button type="submit" class="btn btn-success btn-sm"
											style="font-size: 0.6em; padding: 1px 3px;">
											Submit
										</button>
									</div>

									<span class="badge t-start ctext" name="content{{ msg.id }}" id="editbox{{ msg.id }}"
										contenteditable="true" style="background-color: red; display: block;"
										onkeypress="return checkEdit(this, event)"
										onpaste="return checkEdit(this, event)"
										oninput="checkEdit(this, event)"
										onfocus="checkEdit(this, event)"
									>{{ msg.content }}</span>

										<!-- <button type="submit" class="btn btn-warning">Send</button> -->
									<!-- </div> -->
								</form>
								{% endif %}
								
								<!-- message + timestamp -->
								<div class="badge t-start bgc-user ctext" id="chatitem{{ msg.id }}">{{ msg.content }}</div>
								{% if msg.edit_at %}
									<div class="badge t-end co" style="font-size: 0.65em;">Edited &#x2022; {{ msg.time }} &#x2022; {{ msg.date }}</div>
								{% else %}
									<div class="badge t-end co" style="font-size: 0.65em;">{{ msg.time }} &#x2022; {{ msg.date }}</div>
								{% endif %}
							</div>

							{% else %}
							<!-- messages by other user -->
							<div class="message-container other-msg-container">
								<div class="badge t-start bgc-other ctext">{{ msg.content }}</div>
								{% if msg.edit_at %}
									<div class="badge t-start co" style="font-size: 0.65em;">Edited &#x2022; {{ msg.time }} &#x2022; {{ msg.date }}</div>
								{% else %}
									<div class="badge t-start co" style="font-size: 0.65em;">{{ msg.time }} &#x2022; {{ msg.date }}</div>
								{% endif %}
							</div>
							{% endif %}
							{% endfor %}
							{% else %}
							<div class="message-container">
								<div class="badge ctext">No message history.</div>
							</div>
							{% endif %}
						</div>
					</div>

					<div class="card-footer bgcdg">
						{% if can_msg %}
						<form>
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<div class="input-group">
								<input type="text" class="form-control" name="message" placeholder="Type your message" maxlength="255"
								style="box-shadow: none; position: relative;" autocomplete="off" id="messageinput" oninput="return updateInputCount(this)">
									<span class="form-text" id="inputcount"
									style="position: absolute; top: -5px; right: 4rem; pointer-events: none; z-index: 5; font-size: 0.70rem;">0/255</span>
								</input>
								<button class="btn btn-warning">Send</button>
							</div>
						</form>
						{% else %}
						<form>
							<div class="input-group mt-3">
								<input type="text" class="form-control" placeholder="You cannot send a message to this user." disabled>
								<button class="btn btn-warning" disabled>Send</button>
							</div>
						</form>
						{% endif %}
					</div>
					<script>
						function editButtonClick(id, content)
						{
							var editform = document.getElementById("editform"+id);
							var chatitem = document.getElementById("chatitem"+id);
							var editbox = document.getElementById("editbox"+id);
							var editbtn = document.getElementById("editbtn"+id);

							if ( editform.style.display === "none" )
							{
								editform.style.display = "block";
								chatitem.style.display = "none";
								editbtn.style.display = "none";
								editbox.innerText = content;
							}
							else
							{
								editform.style.display = "none";
								chatitem.style.display = "block";
								editbtn.style.display = null;
							}
						}

						function checkEdit(form, e)
						{
							let cur = form.textContent.length;
							let charCount = form.previousElementSibling.children[0];
							let max = 255;
							charCount.textContent = cur + '/' + max;

							if ( cur > max )
								form.textContent = form.textContent.slice(0, max);

							if ( cur >= max )
							{
								e.preventDefault()
								return false
							}
	
							return true
						}

						function updateInputCount(input)
						{
							var cur = input.value.length;
							var max = parseInt(input.getAttribute("maxlength"));
							var count = input.nextElementSibling;
							count.textContent = cur + '/' + max;
						}
					</script>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
<!-- </div> -->

{% endblock %}