<header>
	<nav class="navbar bgcdg">
		<div class="container-fluid justify-content-end">
			<a class="navbar-brand mb-0 h1 co co-h" href="/">Chat App</a>

			<div style="display: flex; flex-grow: 100; gap: 1rem; padding-left: 2rem; margin-top: 0.2rem;">
				<a class="nav-link co text-nowrap co-h" href="/users">All Users</a>
				{% if session.user %}
				<a class="nav-link co text-nowrap co-h" href="/user/{{ session.user.id }}">My Profile</a>
				{% endif %}
			</div>

			{% if session.user %}
			<div class="d-flex">
				<div class="badge text-wrap fw-light co" style="background-color: inherit; margin-right: 1rem;">
					Logged in as 
					{%if session.user.admin %} admin:
					{% else %} user:
					{% endif %}{{ session.user.username }}
				</div>
				<div>
					<a class="btn btn-sm btn-outline-secondary co bco" href="/logout" role="button">Log Out</a>
				</div>
			</div>
			{% else %}
			<div>
				<a class="btn btn-sm btn-outline-secondary co bco" href="/login" role="button">Sign In</a>
				<a class="btn btn-sm btn-outline-secondary co bco" href="/register" role="button">Create New User</a>
			</div>
			{% endif %}
		</div>
	</nav>
</header>

