{% extends "base.html" %}
{% block content %}

<div class="container-sm bgclg" style="margin-top: 1rem; padding-top: 0.5rem; padding-bottom: 0.2rem;">

	{% if errmsg %}
		<p style="color: red;">{{ errmsg }}</p>
	{% endif %}

	{% if user %}
		<div style="white-space: nowrap;">
			<h4 class="co mb-3" style="display: inline-block; margin-right: 1rem;">Page of {{ user.username }}</h4>
			{% if session.user.id == user.id or ( session.user.admin and not user.admin ) %}
			<a class="btn btn-outline-danger" href="/logout" role="button"
				style="--bs-btn-padding-y: 0.1rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem; margin-bottom: 4px;"
			>Delete User Account</a>
			{% endif %}
		</div>

		<div class="container">
			<div class="row">
				<div class="col me-3">
					<div class="row">
						<h5 class="co">Friends</h5>
						<table class="table table-dark table-striped table-sm">
							{% if friends %}
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Username</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% for friend in friends %}
								<tr>
									<th scope="row" class="text-right">{{ friend.id }}</th>
									<td>
										{{ friend.username }}
									</td>
									<td style="text-align: right; width: 12rem; padding-right: 0.5rem;">
										<a class="btn btn-outline-secondary co bco" href="/user/{{ session.user.id }}/message/{{ friend.id }}" role="button"
											style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;"
										>Message</a>

										<form action="/deletefriend" method="POST" style="display: inline-block;">
											<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
											<input type="hidden" name="user_id" value="{{ user.id }}"/>
											<input type="hidden" name="target_id" value="{{ friend.id }}"/>
											<button class="btn btn-outline-danger" type="submit"
												style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;"
											>Remove Friend</button>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							{% else %}
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Friend list is empty.</th>
								</tr>
							</thead>
							{% endif %}
						</table>
					</div>
					<div class="row">
						<div class="col-7 ps-0" style="white-space: nowrap;">
							<h5 class="co">Received Requests</h5>
							<table class="table table-dark table-striped table-sm">
								{% if received_requests %}
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Username</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									{% for req in received_requests %}
									<tr>
										<th scope="row">{{ req.id }}</th>
										<td>
											{{ req.username }}
										</td>
										<td style="text-align: right; width: 12rem; padding-right: 0.5rem;">
											<form action="/acceptrequest" method="POST" style="display: inline-block;">
												<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
												<input type="hidden" name="user_id" value="{{ user.id }}"/>
												<input type="hidden" name="target_id" value="{{ req.id }}"/>
												<button class="btn btn-outline-success" type="submit"
													style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;"
												>Accept</button>
											</form>
											<form action="/cancelrequest" method="POST" style="display: inline-block;">
												<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
												<input type="hidden" name="sender_id" value="{{ req.id }}"/>
												<input type="hidden" name="target_id" value="{{ user.id }}"/>
												<button class="btn btn-outline-danger" type="submit"
													style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;"
												>Decline</button>
											</form>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								{% else %}
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">No received requests.</th>
									</tr>
								</thead>
								{% endif %}
							</table>
						</div>
						<div class="w-100 d-lg-none"></div>
						<div class="col-5 pe-0 ps-0" style="white-space: nowrap;">
							<h5 class="co">Sent Requests</h5>
							<table class="table table-dark table-striped table-sm">
								{% if sent_requests %}
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Username</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									{% for req in sent_requests %}
									<tr>
										<th scope="row">{{ req.id }}</th>
										<td>
											{{ req.username }}
										</td>
										<td style="text-align: right; width: 12rem; padding-right: 0.5rem;">
											<form action="/cancelrequest" method="POST">
												<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
												<input type="hidden" name="sender_id" value="{{ user.id }}"/>
												<input type="hidden" name="target_id" value="{{ req.id }}"/>
												<button class="btn btn-outline-secondary" type="submit"
													style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;"
												>Cancel</button>
											</form>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								{% else %}
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">No sent requests.</th>
									</tr>
								</thead>
								{% endif %}
							</table>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<h5 class="co">Recently Messaged</h5>
						<table class="table table-dark table-sm table-hover">
							{% if recents %}
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Username</th>
									<th scope="col">Message</th>
									<th scope="col">Date</th>
								</tr>
							</thead>
							<tbody>
								{% for recent in recents %}
									<tr style="cursor: pointer;" onclick="window.location.assign('/user/{{ user.id }}/message/{{ recent.other_id }}');">
										<th scope="row">{{ recent.other_id }}</th>
										<td>
											{{ recent.other_name }}
										</td>
										<td>
											<p class="fw-lighter lh-1">
												{{ recent.sender_name }}: {{ recent.content }}
											</p>
										</td>
										<td>
											{{ recent.date }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
							{% else %}
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">No recent messages.</th>
								</tr>
							</thead>
							{% endif %}
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endif %}	
</div>
{% endblock %}