{% extends "base.html" %}
{% block content %}

<div class="container-sm bgcg" style="margin-top: 1rem; padding-top: 0.5rem; padding-bottom: 0.2rem; max-width: 20rem;">
	<p>{{ errmsg }}</p>
	<form action="/register" method="POST" onsubmit="return check(this)">
		<label for="un" class="form-label co">Username:</label>
		<input type="text" name="username" id="un" class="form-control bco mb-3"></input>
		<label for="pw1" class="form-label co">Password:</label>
		<input type="password" name="password1" id="pw1" class="form-control bco mb-3"></input>
		<label for="pw2" class="form-label co">Repeat Password:</label>
		<input type="password" name="password2" id="pw2" class="form-control bco mb-3"></input>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<button type="submit" class="btn btn-light co bco bgcdg mb-3">Create User</button>
	</form>
</div>

<script>
	function check(form)
	{
		if ( form.username.value.length < 2 || form.username.value.length > 32 )
		{
			alert("Username has to be between 2 and 32 characters long.");
			return false;
		}

		if ( !form.username.value.match(/^[0-9a-z]+$/) )
		{
			alert("Username can only contain numbers or letters.");
			return false;
		}

		if ( form.password1.value.length < 6 || form.password1.value.length > 32 )
		{
			alert("Password length has to be between 6 and 32.");
			return false;
		}

		if ( form.password1.value != form.password2.value )
		{
			alert("Passwords do not match.");
			return false;
		}

		return true;
	}
</script>

{% endblock %}